@media (max-width: 575px) {

    .article-list {

        .text-title {
            display: none;
        }

        .list-wrapper {
            order: 1;
        }

        .tag-container {
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
}
