.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    .pagination-item {
        padding: 0.5rem 1em;
        margin-bottom: .5rem; // 换行后的垂直间歇
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
        }
    }

    &.bordered {

        .pagination-item {
            border-radius: .25rem;
        }
    }

    &.gap {

        .pagination-item:not(:first-child) {
            margin-left: .5rem;
        }
    }

    .pagination-size {
        margin-bottom: .5rem;

        select {
            margin-left: .5rem;
            padding: .5rem;
            height: 100%;
            border-radius: .25rem;
            appearance: none;

            option {
                height: 1rem;
                margin-left: .5rem;
            }
        }
    }
}
