.article-item {

    .article-title {
        padding-left: .5rem;
        font-weight: 700;
        border-left: .5rem solid;
        cursor: pointer;

        &:hover {
            transition: all 500ms ease-in;
            transform: translateX(0.2rem);
        }

        a {
            text-decoration: none;
        }
    }

    .article-content {

        .article-left {
            overflow: hidden;
            max-height: 10rem;
            cursor: pointer;

            img {
                transition: all 5s ease;
                max-width: 100%;
            }

            &:hover {

                img {
                    transform: translateY(calc(-100% + 10rem))
                }
            }
        }

        .article-right {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;

            .short-des {
                flex: 1;
            }

            .more-btn {
                padding-right: 1rem;
                text-align: right;

                a {
                    display: inline-block;
                    text-decoration: none;

                    &:hover {
                        transition: all 500ms ease;
                        transform: translateX(0.2rem);
                    }
                }
            }
        }
    }
}

.article-list {
    height: 100%;

    .container {
        height: calc(100% - 50px);
    }

    .row {
        height: 100%;
    }

    .text-title {
        margin-top: 1rem;
        padding: 2rem 0;
        font-family: 'Seaweed Script', Sans-serif;
        font-size: 1.5rem;
        word-spacing: 1rem;
        text-align: center;
        background: url(https://ws1.sinaimg.cn/large/dac84c10ly1g6c4okcxg9j20p008c0sz.jpg);
        background-size: 100% 100%;
    }

    .list-wrapper {
        display: flex;
        flex-direction: column;

        .article-wrapper {
            flex: 1;

            .article-item {
                margin-top: 1rem;
                padding-bottom: .5rem;
                border-bottom: 1px solid;
            }
        }
    }

    .pagination {
        margin-top: 1rem;
    }
}
