#root {

    &>.wave-container {
        position: relative;
        z-index: 9;
    }
}

.home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;

    .toggle-btn {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 10%;
        height: 15%;

        a {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-decoration: none;
        }
    }
}
