// 层叠样式
// 普通：9，博文：99，顶部导航：999，模态框：9999，BlockUI：99999
// Font
@import './fonts/index.less';
// Lib
@import './lib/index.less';
// Layout Style
@import './layout/index.less';
// Theme Style
@import './theme/index.less';
// Media Style
@import './media/index.less';

html,
body {
    scroll-behavior: smooth;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}
