.article-list {

    .article-wrapper {

        .article-item {

            .article-title {
                border-left-color: @border-cyan;
                color: @text-cyan;
            }

            .article-content {

                .article-right {


                    .more-btn {

                        a {
                            color: @text-dark;
                        }
                    }
                }
            }
        }
    }
}
