.article-item {

    .article-title {
        border-left-color: @border-cyan;

        a {
            color: @text-cyan;
        }
    }

    .article-content {
        color: @text-muted;

        .article-left {

            .img-container {
                border-color: @border-gray;
            }
        }

        .article-right {

            .more-btn {

                a {
                    color: @text-dark;
                }
            }
        }
    }
}
