.home {

    .toggle-btn {
        border-right: 1px solid @border-color;

        a {
            color: @white;

            &:hover {
                color: @text-white-hove;
            }
        }
    }

    .content {
        color: @white;
        text-shadow: 1px 3px 0 @text-white-shadow;
    }
}
