.bowen-wrapper {
    padding: 0;
    height: 100%;
    overflow: hidden;
}

article#bowen {
    display: flex;
    flex-direction: column;
    // 隐藏方式一
    width: calc(100% + 17px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    // 隐藏方式二
    // overflow: -moz-scrollbars-none; // Firefox
    // -ms-overflow-style: none; // IE 10+
    // &::-webkit-scrollbar {
    //     width: 0 !important
    // }

    header {
        margin: 2rem 0;
        text-align: center;

        .title {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        .description {
            font-size: 1rem;
            font-style: italic;
        }
    }

    section {
        flex: 1;

        a.title {
            text-decoration: none;

            h4 {
                padding: .3rem 0 .3rem .5rem;
                border-left: .5rem solid;
            }
        }

        p {
            text-indent: 2rem;
        }
    }

    footer {
        justify-items: flex-end;
        text-align: center;
        padding: 2rem 0;
        border-top: 1px solid;
    }

    aside {
        // 定位
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 1rem;

        .title {
            height: 2rem;
            line-height: 2rem;
            font-weight: 500;
            text-align: center;
        }

        #toc {
            list-style-position: inside;
            margin: 0;
            padding: 0;

            .toc-item {
                padding-left: .2rem;
                cursor: pointer;


                &:not(:last-child) {
                    margin-bottom: .25rem;
                }

                &.active,
                &:hover {
                    border-left: .5rem solid;
                }
            }
        }

        .toc-arrow {
            display: none;
        }
    }
}

#fixed-tools {
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;

    .backtop {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        border: 1px solid;
        border-radius: 50%;
    }
}
