// Color system

@blue:    #007bff;
@indigo:  #6610f2;
@purple:  #6f42c1;
@pink:    #e83e8c;
@red:     #dc3545;
@orange:  #fd7e14;
@yellow:  #ffc107;
@green:   #28a745;
@teal:    #20c997;
@cyan:    #17a2b8;

@transparent: transparent;
@white:     #fff;
@gray-100:  #f8f9fa;
@gray-200:  #e9ecef;
@gray-300:  #dee2e6;
@gray-400:  #ced4da;
@gray-500:  #adb5bd;
@gray-600:  #6c757d;
@gray-700:  #495057;
@gray-800:  #343a40;
@gray-900:  #212529;
@black:     #000;

@primary:       @blue;
@secondary:     @gray-600;
@success:       @green;
@info:          @cyan;
@warning:       @yellow;
@danger:        @red;
@light:         @gray-100;
@dark:          @gray-800;

// ================================================
// @cyan @green @red @yellow

// 字体颜色状态组
@text-white:                  @white;
@text-white-hove:             @gray-200;
@text-shadow-white:           @gray-600;

@text-muted:                  @secondary;
@text-dart:                   @dark;

// 边框颜色状态组
@border-white:                @white;

// 边框异色状态组：gray->cyan
@border-gray:                 @gray-300;
@border-gray-active:          lighten(@cyan, 20%);

// 背景异色状态组：gray->cyan
@bGroud-gray:                 @gray-300;
@bGroud-gray-hover:           lighten(@cyan, 35%);
@bGroud-gray-active:          lighten(@cyan, 20%);
